.projects{
    background-image: linear-gradient(#040D12,#4D4C7D);
    

    
}

:root {
	--cards: 3;
	--cardHeight: 87vh;
	--cardTopPadding: 1.5em;
	--cardMargin: 4vw;
    
}

.initcont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.stack_cards {
	width: 90%;
}

#cards {
	list-style: none;
	padding-left: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--cards), var(--cardHeight));
	gap: var(--cardMargin);
	padding-bottom: calc(var(--cards) * var(--cardTopPadding));
	margin-bottom: var(--cardMargin);
   
}

#card1 {
	--index: 1;
}
#card2 {
	--index: 2;
}
#card3 {
	--index: 3;
}
#card4 {
	--index: 4;
}

.card {
	position: sticky;
	top: 0;
	padding-top: calc(var(--index) * var(--cardTopPadding));
}

#card1 .card-body {
	background-color: #52B2CF;
}
#card2 .card-body {
	/* background-color: #7EC4CF; */
	background-color: #E5A36F;
}
#card3 .card-body {
	background-color: #9CADCE;
}
#card4 .card-body {
	background-color: #D4AFB9;
}

.card-body {
	box-sizing: border-box;
	/* padding: 30px; */
	border-radius: 50px;
	box-shadow: 0 0 30px 0 rgba(0,0,0,0.3);
	height: var(--cardHeight);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.5s;
}



.textvhd {
    flex: 1;
    padding: 30px;
    color: wheat;
  }
  
  .head4bj {
    margin-bottom: 20px;
    font-family: 'PT Serif', serif;
    color: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  }
  
  .khfojh {
    font-size: 5em;
    font-weight: bold;
  }
  
  .louoj56 p {
    color: whitesmoke;
    line-height: 1.5;
    font-size: 1em;
  }
  
  .imgjhj {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 0 50px 50px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    
    
    
  }
  
  .imgjhj img {
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
    border-radius: 0 50px 50px 0;
  
  }
  